:root {
    --trans: rgba(255, 255, 255, 0);
    --black: #030303;
    --black_trans: rgba(3, 3, 3, 0.5);
    --gray: #333333;
    --gray_trans: rgba(51, 51, 51, 0.5);
    --lgray: #434343;
    --lgray_trans: rgba(160, 160, 160, 0.3);
    --white: #F1F1F1;
    --white_trans: rgba(241, 241, 241, 0.8);
    /* maincolor */
    --maincolor: #F2640C;
    --maincolor_trans: rgba(242, 100, 12, 0.5);
    --lmaincolor: #F4833C;
    --dmaincolor: #7F4400;
    --white_maincolor: #F8B185;
    /* orange */
    --orange: #F2640C;
    --orange_trans: rgba(242, 100, 12, 0.5);
    --lorange: #F4833C;
    --dorange: #7F4400;
    --white_orange: #F8B185;
    /* red */
    --red: #FD3C2F;
    --red_trans: rgba(253, 60, 47, 0.5);
    --lred: #fc584c;
    --dred: #b32c22;
    --white_red: #fcb6b1;
    /* green */
    --green: #006400;
    --green_trans: rgba(0, 204, 51, 0.5);
    --lgreen: #74d68c;
    --dgreen: #286637;
    --white_green: #7acc8f;
    --header_height: 60px;
}

body {
    background-color: black;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: white;
}


/* scroll bar */

::-webkit-scrollbar {
    height: 16px;
    width: 16px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 12px 21px var(--gray_trans);
    border: solid 3px transparent;
}

::-webkit-scrollbar-corner {
    background-color: var(--gray_trans);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 21px 21px var(--orange);
    border: solid 3px transparent;
}

#meters {
    height: 60px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--lgray);
    overflow: hidden;
    position: relative;
}

#log {
    margin: 15px;
    line-height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    font-size: 30px;
}

#app {
    flex: 1;
    margin: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
}

#articles {
    width: 74%;
}

#menu {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#menu>label {
    flex: 1;
    position: relative;
    display: block;
    border: 2px solid var(--white);
    background-color: var(--gray_trans);
}

#menu>label.active {
    background-color: var(--white);
}

#menu>label>p {
    font-size: 30px;
    text-align: center;
}

#menu>label>img {
    width: 140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#menu [type=radio] {
    display: none;
}

#articles>article {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#articles>article>div {
    margin: 20px auto;
    width: 94%;
    overflow: auto;
}


/* =========== music ============= */

#albams_div {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.albam {
    display: inline-block;
    background-color: var(--lgray_trans);
    margin: 10px;
    padding: 10px;
}

.albam * {
    pointer-events: none;
}

.albam.playing {
    background: linear-gradient(-45deg, var(--orange), var(--white_trans), var(--green));
    background-size: 400% 400%;
    animation: gradient 4s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 50% 0%
    }
}

.albam img {
    width: 300px;
    height: 300px;
}

.albam p {
    font-size: 22px;
    width: 300px;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.for_ktc_uv {
    position: absolute;
    border: 2px solid red;
    margin: 0;
    padding: 0;
    z-index: -100;
}

.uv_1 {
    height: 49%;
    width: 49%;
}

.uv_1.ul {
    top: 0;
    left: 0;
}

.uv_1.ur {
    top: 0;
    right: 0;
}

.uv_1.dl {
    bottom: 0;
    left: 0;
}

.uv_1.dr {
    bottom: 0;
    right: 0;
}

.uv_2 {
    height: 40%;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#audio_con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    z-index: 1000;
}

#mordal {
    background-color: var(--black_trans);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
}

#audio_con img {
    position: absolute;
    background-color: rgba(3, 3, 3, 0.6);
    user-select: none;
}

#audio_con img:hover {
    background-color: var(--orange);
}

#audio_con #start_pause {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#audio_con #mute {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#audio_con #next {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#audio_con #prev {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#audio_con #volumeUp,
#audio_con #volumeDown {
    background-color: #006400;
    height: 10px;
    width: 10px;
}


/* =========== player ============= */

#player {
    display: none;
}


/* ============= map =============== */

#map img {
    pointer-events: none;
}

#map::-webkit-scrollbar {
    display: none;
}


/* ============= three ============= */

#three_div {
    height: 100%;
    width: 100%;
}


/* ============= air ============== */

#air_control {
    height: fit-content;
    background-color: var(--gray_trans);
    border: 2px solid var(--lgray);
}

#air_tempereture_div,
#air_power_div {
    height: 180px;
    margin: 0 10%;
    display: flex;
    position: relative;
}

#air_toggles_div {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#air_toggles_div>.side_toggles_div {
    width: auto;
    margin: 0 20px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#air_toggles_div>.center_toggle_div {
    width: 380px;
    margin: 0 40px;
}

.side_toggles_div .toggle {
    margin: 0 20px;
}

.center_toggle_div .toggle {
    margin: 0 auto !important;
    flex-direction: column !important;
    align-items: center;
    height: 220px;
    width: 100%;
}

.center_toggle_div .toggle>img {
    width: 300px !important;
    margin: 40px auto !important;
}

.center_toggle_div .toggle>.lamp {
    width: 80px;
    height: 16px;
    margin: 10px 0 0 0 !important;
    border-radius: 12px;
}

#air_control .hslider {
    width: 100%;
    height: 100%;
}

.btn3 {
    color: var(--white);
    background-color: var( --gray);
    border: 2px solid var(--orange);
    border-radius: 30px;
    box-shadow: 0 4px 0 var( --lgray);
}

.btn3:hover,
.btn3.hovered {
    transform: translate(0, 3px);
    box-shadow: 0 1px 0 var( --lgray);
}


/* ----------- toggle ----------- */

.toggle {
    display: flex;
    height: 120px;
    width: 240px;
}

.toggle>img {
    width: 110px;
    margin: auto 20px;
}

.toggle>.lamp {
    width: 22px;
    height: 22px;
    margin: auto 30px;
    border-radius: 50%;
    box-shadow: 4px 4px 8px 0 var(--black_trans) inset;
    background-color: var(--white);
}

.toggle>.lamp.active {
    background-color: var(--orange);
    box-shadow: 0 0 16px 2px var(--orange_trans), 2px 2px 6px 3px rgba(241, 241, 241, 0.3) inset;
}


/* ----------- hslider ----------- */

.hslider {
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
}

.hslider>img {
    display: inline-block;
    margin: auto 40px;
    width: 110px;
}

.hslider>div {
    width: 90%;
    height: 100%;
    display: flex;
    position: relative;
}

.hslider input[type=range] {
    appearance: none;
    width: 100%;
    height: 16px;
    margin: auto 0;
    border-radius: 2px;
    border: none;
    background-color: var(--lgray);
    box-shadow: 4px 4px 6px 0 var(--black_trans) inset;
    z-index: 100;
}

.hslider input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 100px;
    height: 130px;
    background-color: var(--orange);
    box-shadow: 0 0 16px 2px var(--orange_trans), 2px 2px 6px 3px rgba(241, 241, 241, 0.3) inset;
    border-radius: 16px;
}

.hslider ul {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    right: 0;
    left: 0;
    height: 80px;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-around;
}

.hslider li {
    display: inline-block;
    padding: 0;
    height: 100%;
    width: 4px;
    background-color: var(--white);
    border-bottom: 3px solid var(--white_trans);
    z-index: 1;
}

.hslider li:first-child {
    margin-left: 30px;
}

.hslider li:last-child {
    margin-right: 30px;
}
