<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>タイトル</title>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <!-- FIXME meters -->
  <div id="meters">
    <p id="log">
    </p>
  </div>

  <div id="app">

    <!------------- menu --------------->
    <div id="menu">

      <label v-bind:class='{active:view==1}'>
        <input type="radio" name="menu" v-model="view" value="1">
        <img src="./images/icon_music.png">
      </label>
      <label v-bind:class='{active:view==2}'>
        <input type="radio" name="menu" v-model="view" value="2">
        <img src="./images/icon_wind.png">
      </label>
      <label v-bind:class='{active:view==3}'>
        <input type="radio" name="menu" v-model="view" value="3">
        <img src="./images/icon_car.png">
      </label>
      <label v-bind:class='{active:view==4}'>
        <input type="radio" name="menu" v-model="view" value="4">
        <img src="./images/icon_map2.png">
      </label>
    </div>

    <!------------- articles --------------->
    <div id="articles">

      <!-- ================= music ================= -->
      <article v-show="view == 1">
        <div id="albams_div">
          <albams v-for="(albam, index) in albams" :key="albam.id" :albam="albam"></albams>
          <audio_con v-if="controllerEnable"></audio_con>
          <div id="mordal" v-if="controllerEnable"></div>
          <div class="for_ktc_uv uv_1 ul" value=0></div>
          <div class="for_ktc_uv uv_1 ur" value=1></div>
          <div class="for_ktc_uv uv_1 dr" value=2></div>
          <div class="for_ktc_uv uv_1 dl" value=3></div>
          <div class="for_ktc_uv uv_2"></div>
        </div>
      </article>

      <!-- ================= air ================= -->
      <article v-show="view == 2" class="air_article">
        <div id="air_control">
          <div id="air_tempereture_div">
            <hslider name="tempereture" img-src="./images/air_icons/温度.png"></hslider>
          </div>

          <div id="air_toggles_div">
            <div class="side_toggles_div">
              <toggle btn-name="heat" img-src="./images/air_icons/ヒート.png"></toggle>
              <toggle btn-name="ac" img-src="./images/air_icons/AC.png"></toggle>
            </div>
            <div class="center_toggle_div">
              <toggle btn-name="auto" :is-active="true" img-src="./images/air_icons/オート.png"></toggle>
            </div>
            <div class="side_toggles_div">
              <toggle btn-name="inside air" img-src="./images/air_icons/内気切り替え.png"></toggle>
              <toggle btn-name="condensation" img-src="./images/air_icons/曇り止め.png"></toggle>
            </div>
          </div>

          <div id="air_power_div">
            <hslider name="flow_power" img-src="./images/air_icons/風量.png"></hslider>
          </div>
        </div>
      </article>

      <!-- ================= around ================= -->
      <article v-show="view == 3">
        <div id="three_div">
        </div>
      </article>

      <!-- ================= map ================= -->
      <article v-show="view == 4">
        <div id="map">
          <img src="./images/bigmap.png" />
        </div>
      </article>

    </div>

    <!------------- audio --------------->
    <audio id="player" controls autoplay></audio>
    <div id="audio_controler">
    </div>

  </div>



  <!------------ js ------------>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js "></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js "></script>
  <script src="index.js" type="module"></script>
</body>

</html>
